<h1><%= @brand %> </h1>

<div class="row">
	<% @products.each do |product| %>
		<%= render 'products/card_and_modal', product: product %>

	<% end %>
</div>

<%= link_to 'Return to All Products', root_path, class: "btn btn-success" %>